
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100i,800|Source+Sans+Pro  &display=swap');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

html,
body {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family:    'Alegreya Sans SC', sans-serif;
}
a {
  color:#cdeee5;
  text-decoration: none;
}
h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
}
.App {
  text-align: center;
  background-color: #040f15;
  color:#cdeee5;
  height:100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.name-banner {
  position: absolute;
  width: 60vw;
  right: 0;
  font-size: 4em;
  height: 100%;
  padding: 25vh 5vw
}
.name-banner > h1 {
  line-height: 0.5em;
  letter-spacing: -12px;
  position: relative;
  text-shadow: 4px -4px #040f15;
}
.no-padding{
  padding:0;
  margin: 0;
}
.section-link-holder {
  position: absolute;
  width: 33vw;
  left: 0;
  height:100vh;
  vertical-align: middle;
  padding: 10% 0;
  transition:         left 0.3s ease-in;
  -o-transition:      left 0.3s ease-in;
  -ms-transition:     left 0.3s ease-in;
  -moz-transition:    left 0.3s ease-in;
  -webkit-transition: left 0.3s ease-in;
}
.section-link {
  position: relative;
  padding: 0.5em 0.2em;
  font-size: 2em;
  border-bottom: 1px solid #cdeee5;
  border-right: 1px solid #cdeee5;
  font-family:'Major Mono Display', monospace;
  margin:1em;
  overflow: hidden;
}
.section-link > span{
  position: inherit;
  color: top 0.5s ease-in;
}
.fill-up:before {
  content: "";
  position: absolute;
  background: #cdeee5;
  bottom: 0;
  left: 100%;
  right: 0;
  top: 0;
  z-index: 0;
  -webkit-transition: left 0.3s ease-in;
}
.section-link:hover{
  color:#040f15;
}
.fill-up:hover:before {
  left: 0;
}
.subtitle-text{
  font-style: italic;
  color:#35cc9d;
  font-family:'Major Mono Display', monospace;
  z-index: 3;
  font-weight: 100;
}
.title-text{
  color:#cdeee5;
  z-index: 2;
}

.social-media-bar {
  display: inline-flex;
  z-index: 3;
}

.social-media-button{
  font-size: 0.6em;
  margin: 0.5em;
  flex:auto;
}

.photo{
  position: absolute;
  z-index: 0;
  opacity: 0.3;
  height:40vh;
  border-radius: 10%;
  right:-5vw;
  top:-5vh;
}



@media (prefers-reduced-motion: no-preference) {
  .spin {

    animation: spin infinite 2s linear;
  }
}

.App-header {
  
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@-moz-keyframes spin {
  from { -moz-transform: rotateX(0deg); }
  to { -moz-transform: rotateX(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotateX(0deg); }
  to { -webkit-transform: rotateX(360deg); }
}
@keyframes spin {
  from {transform:rotateX(0deg);}
  to {transform:rotateX(360deg);}
}

@media only screen and (max-width: 600px) {

}
