
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100i,800|Source+Sans+Pro  &display=swap');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');

$bgColor:#040f15;
$txtColor:#cdeee5;
$accentColor:#35cc9d;

$titleFont: 'Alegreya Sans SC', sans-serif;
$txtFont: 'Major Mono Display', monospace;

@mixin transition($str) {
  -webkit-transition: #{$str};
  -moz-transition: #{$str};
  -ms-transition: #{$str};
  -o-transition: #{$str};
  transition: #{$str};      
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

html,
body {
    height: 100%;
    max-height: 100vh;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: monospace;
}
a {
  color:$txtColor;
  text-decoration: none;
}
h1 {
  font-family: $titleFont;
}
.App {
  text-align: center;
  background-color: $bgColor;
  color:$txtColor;
  height:100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.name-banner {
  position: absolute;
  width: 60vw;
  right: 0;
  top:0;
  font-size: 4em;
  height: 75vh;
  padding: 25vh 5vw 0 0;
  @include transition('top 1.5s linear');
}
.name-banner > h1 {
  line-height: 0.5em;
  letter-spacing: -12px;
  position: relative;
  text-shadow: 4px -4px $bgColor;
}
.slide-up{
  top:-100vh;
}
.no-padding{
  padding:0;
  margin: 0;
}
.padding-top-10 {
  padding: 10% 0;
}
// All of this is to style and animate the section links
// Ensure this number is the same as the number of links
$elements: 5;
$linkHeight: 15vh;
@for $i from 0 to $elements {
  .section-link:nth-child(#{$i + 1}) {
     top: (4 + $i * $linkHeight);
  }
}
.section-link-holder {
  position: absolute;
  width: 25vw;
  left: 0;
  vertical-align: middle;
}
.section-link {
  position: absolute;
  width: inherit;
  padding: 1vh 0.2em;
  font-size: 5vh;
  border-bottom: 1px solid #cdeee5;
  border-right: 1px solid #cdeee5;
  font-family:$txtFont;
  overflow: hidden;
  @include transition('left 0.3s ease-in');
  @include animation('width 0.8s ease-in');
  @include transition('all 0.8s ease-in');

}

.section-link.active {
  top: 0;
}

.section-link.inactive {
  font-size: 1em;
  width:15vw;
}
@for $i from 0 to $elements {
  .section-link.inactive:nth-child(#{$i + 1}) {
     top: (60vh + $i * ($linkHeight / 2));
  }
}
.section-link > span{
  position: relative;
}
.fill-up:before {
  content: "";
  position: absolute;
  background: #cdeee5;
  bottom: 0;
  left: 100%;
  right: 0;
  top: 0;
  z-index: 0;
  -webkit-transition: left 0.3s ease-in;
}
.section-link:hover{
  color:$bgColor;
}
.fill-up:hover:before {
  left: 0;
}
.subtitle-text{
  font-style: italic;
  color: $accentColor;
  font-family:$txtFont;
  z-index: 3;
  font-weight: 100;
}
.title-text{
  color:$txtColor;
  z-index: 2;
}

.social-media-bar {
  display: inline-flex;
  z-index: 3;
}

.social-media-button{
  font-size: 0.6em;
  margin: 0.5em;
  flex:auto;
}

.photo{
  position: absolute;
  z-index: 0;
  opacity: 0.3;
  height:40vh;
  border-radius: 10%;
  right:-5vw;
  top:-5vh;
}

.content-section {
  position: relative;
  width: 80vw;
  margin: auto;
  text-align: left;
  top: 15vh;
  height:50vh;
  overflow: hidden;
}

.content-section > p {
  overflow: hidden;
  animation: 
    typing 2s steps(30, end),
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:$accentColor }
}



@media (prefers-reduced-motion: no-preference) {
  .spin {

    animation: spin infinite 2s linear;
  }
}

.App-header {
  
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: $txtColor;
}

@-moz-keyframes spin {
  from { -moz-transform: rotateX(0deg); }
  to { -moz-transform: rotateX(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotateX(0deg); }
  to { -webkit-transform: rotateX(360deg); }
}
@keyframes spin {
  from {transform:rotateX(0deg);}
  to {transform:rotateX(360deg);}
}

@media only screen and (max-width: 600px) {

}
